@font-face {
    src: url("./assist/fonts/Sauce-Code-Powerline-Light.otf");
    font-family: 'Powerline';
}

body {
    text-align: center;
    padding-top: 70px;
    .code {
        font-family: 'Powerline';
        font-size: 40px;
    }
}